@media (min-width: 576px) {
    body {
        background-color: #ffffff;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    #text-effect {
        height: 0;
        width: 0;
    }

    svg.text {
        display: block;
        width: 8em;
        height: 1.2em;
    }

    h1 {
        position: relative;
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
    }

    header h1 {
        font-size: 4em;
    }

    .mobile {
        display: none;
    }

    .container {
        width: 33em;
        margin-bottom: 3em;
        padding: 0;
    }

    header {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        background-color: #f1d806;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        color: black;
    }

    header img {
        width: 100%;
    }

    header figure {
        width: 33em;
        float: left;
        order: 2;
        margin: 0 auto;
    }

    header figcaption {
        font-size: 0.75em;
        font-style: italic;
    }

    header .container {
        margin: 0 auto;
    }

    #intro-first {
        order: 1;
    }

    #intro-second {
        order: 3;
    }

    .about-contact {
        float: right;
        border: solid;
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 0.5em;
    }

    #work-in-progress {
        float: right;
        margin-top: 1rem;
        font-size: 0.75em;
    }

    section {
        width: 100%;
        display: inline-block;
    }

    #project-section, #business-card {
    background-color:#eeeeee;
    background-image: 
    radial-gradient(circle at 100% 150%, #eeeeee 24%, white 25%, white 28%, #eeeeee 29%, #eeeeee 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #eeeeee 24%, white 25%, white 28%, #eeeeee 29%, #eeeeee 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, #eeeeee 11%, #eeeeee 23%, white 24%, white 30%, #eeeeee 31%, #eeeeee 43%, white 44%, white 50%, #eeeeee 51%, #eeeeee 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, #eeeeee 6%, #eeeeee 15%, white 16%, white 20%, #eeeeee 21%, #eeeeee 30%, white 31%, white 35%, #eeeeee 36%, #eeeeee 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, #eeeeee 6%, #eeeeee 15%, white 16%, white 20%, #eeeeee 21%, #eeeeee 30%, white 31%, white 35%, #eeeeee 36%, #eeeeee 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
    }

    #project-section .container {
        width: 40em;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 3.5em;
    }

    .carousel-caption {
        visibility: hidden;
    }

    #carousel-subtitles {
        display: block;
        text-align: center;
        color: #696969;
        height: 4em;
    }

    #skills-section {
        background-color: #cdf383;
        height: 25em;
    }

    #skills-section h1, 
    #experience-section h1 {
        margin-top: 2rem;
    }

    #skills-section li {
        font-family: 'Impact', sans-serif;
        font-size: 2em;
        list-style: none;
        margin-left: -0.75em;
    }

    #skills-columns {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 100%;
            flex: 100%;
        margin: 0 auto;
        flex-direction: row;
    }

    .skills-text {
        position: absolute;
        height: 10em;
        width: 5.7em;
    }

    .skill-level {
        width: 11rem;
    }

    .skill-level:first-child {
        width: 8rem;
    }

    .skill-level:nth-last-child(2) {
        width: 11rem;
    }

    .skill-level:last-child {
        width: 5.6rem;
    }


    #experience-section {
        color: #ffffff;
        background-color: #093852;
    }

    #education-section {
        background-image: url('../img/pink-sky.jpg');
        background-size: 100%;
        background-color: #f8d0db;
        background-repeat: no-repeat;
        background-position: top;

    }

    #education-section .container {
        width: 50em;
    }

    #education-section .container.content {
        display: flex;
    }

    #education-section h1 {
        margin-top: 5rem;   
    }

    #edu-left {
        width: 35%;
    }

    #edu-right {
        width: 60%;
        border-style: solid;
        border-top: 0;
        margin-left: 2em;
        padding: 0.5em;

    }

    .icon {
        width: 2em;
        height: 2em;
    }

    .school {
        width: 100%;
        border-radius: 0.5rem;
        border-style: solid;
        padding: 0.25em;
        margin-bottom: 1em;
        margin-right: 1em;
        background-color: #eeffee;
    }

    .school li {
        list-style: none;
    }

    .school ul {
        margin: 0;
    }

    #expected {
        font-style: italic;
    }

    #mooc-section {
        background-color: #2a2727;
    }

    #mooc-divider {
        display: block;
        width: 100%;
        height: 90px;
        fill: #2a2727;
        background: #f8d0db;
        margin-bottom: 1em;
    }


    .card-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row;
            flex-flow: row;
    }
    .card-row .card {
        -ms-flex: 100%;
            flex: 100%;
    }

    .card {
        min-width: 5rem;
        max-width: 5rem;
        height: 5rem;
        margin: 5px;
        border-radius: 0.5rem;
        cursor: pointer;
    }


    .card img {
        max-width: 100%;
        border-radius: calc(0.5rem - 1px);
        height: 5rem;
        filter: url(filters.svg#grayscale);
        /* Firefox 3.5+ */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome & Safari 6+ */
    }
    .card img:hover {
        filter: none;
        -webkit-filter: none;
    }

    .details {
        width: 100%;
        border-style: dashed;
        border-left: 0;
        border-right: 0;
        border-radius: 0.5rem;
        margin: 0.4em;
        padding: 1em;
        background-color: #e9e9e9;
        display: none;
    }

    .details.active {
        display: block;
    }

    .details .badge {
        margin-left: 0.5em;
    }

    .badge-default {
        background-color: #554444;
    }

    .mooc-course {
        position: relative;
        display: none;
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .mooc-course.active {
        display: inline-block;
    }

    .mooc-title {
        font-size: 1.25em;
    }

    .mooc-comments {
        margin-bottom: 2em;
    }

    .mooc-institution {
        font-family: 'Arizonia', Helvetica, sans-serif;
        color: #666666; 
        font-style: italic;
        font-size: 4em;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: -0.4em;
        left: 0;
    }

    .btn {
        float: right;
        margin: 0.2rem;
        vertical-align: baseline;
    }

    footer {
        display: flex;
    }

    footer h1 {
        margin-left: 0.85em;
        margin-right: 0.85em;
    }

    footer .container {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    #business-card {
        width: 90%;
        border: solid;
        border-width: 2px;
        border-radius: 1em;
        margin: 0 auto;
        padding: 1em;
        box-shadow: 10px 10px 5px grey;
        padding-left: 25%;
    }

    #business-card div {
        margin: 0.25em;
    }

    .name {
        font-weight: bold;
    }
}


/* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/